<h1>Burgers!</h1>

<h2>Burgers to Devour</h2>

<ul>
  {{#each burgerName }}
    {{#unless devoured }}
      <li>
        {{ burger_name }}
        <button class='change-status' data-id='{{id}}' data-newValue='{{devoured}}'>
          DEVOUR IT!
        </button>      
      </li>
    {{/unless}}    
  {{/each}}
</ul>

<h2>Burgers already Devoured</h2>

<ul>
  {{#each burgerName }}
    {{#if devoured }}
      <li>
        {{ burger_name }}
        <button class='change-status' data-id='{{id}}' data-newValue='{{devoured}}'>
          DEVOUR IT AGAIN!
        </button>      
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-burger">
  
  <div class="form-group">
    <label for="burger">New Burger:</label>
    <input type="text" id="burger-name" name="name">
  </div>

  <button type="submit">Add Burger</button>

</form>